:root {
  --body-background: rgba(102, 83, 83, 0.05);
  --white: #fff;
  --primary: #6070ff;
  --tertiary: #acb7c3;
  --newtrals: #344563;
  --newtrals2: #344563;
  --small_font: 18px;
  --primary2: #7f8cff;
  --dark: #172b4d;
  --newtrals100: #7a869a;
  --primaryb50: #ebebff;
  --primaryb500: #396df2;
  --primaryb400: #6070ff;
  --radiusL: 3rem;
  --newtralN700: #253858;
}

html {
  font-size: 10px;
}

.padding_vertical {
  padding: 0.8rem 0;
}

.desktop {
  display: none;
}

.float_right {
  float: right;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
  transition: 300ms;
}

.margin_sm {
  margin: 0.8rem 0;
}

.desktop_menu {
  display: none;
}

/* mobile menu */
.mobile_m {
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: rgba(60, 70, 255, 0.6);
  height: 100vh;
  width: 100%;
  background-blend-mode: lighten;
  top: 0;
  backdrop-filter: blur(10px);
  padding: 2rem;
}

.mobile_menu {
  display: flex;
  gap: 2rem;
  margin-top: 8rem;
  flex-direction: column;
}

.social a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding: 20px 0;
  color: var(--primary2);
}

.mobile_menu li a {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4px;
  padding: 0.5rem 0.2rem;
}

.mobile_menu li {
  margin: 0.8rem 0;
}

div.logo a {
  font-size: var(--small_font);
  font-weight: 700;
  color: var(--primary);
}

.mobile_menu li a:hover {
  color: var(--primaryb500);
}

.close_btn {
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.nav_divider {
  margin-bottom: -1rem !important;
  align-self: flex-end;
  height: 5px !important;
}

body {
  background-color: var(--body-background);
  font-family: 'Poppins', sans-serif;
  margin-top: -20px;
}

header {
  background-color: var(--white);
}

nav {
  background-color: var(--white);
}

.navbar {
  display: flex;
  flex-direction: row;
}

div.logo-container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--white);
}

div.logo {
  width: 82px;
}

.bars i {
  color: var(--tertiary);
  font-size: var(--small_font);
  width: 20px;
}

/** header section */
.header {
  background-image: url(images/header-shapes\ mobile.png);
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 2rem;
  width: 100%;
  border-bottom-left-radius: var(--radiusL);
}

img {
  width: 100%;
}

.header h1 {
  color: var(--dark);
  font-size: 4rem;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  margin-top: 3.5rem;
}

.header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--newtrals);
}

ul.social_icons {
  display: flex;
  gap: 1rem;
}

/* work section **/
section.work_section {
  grid-template-columns: auto;
  display: grid;
  gap: 5rem;
  margin: 6rem 20px;
}

.work_info {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
}

article.work {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--white);
  border-radius: 16px;
  padding: 2rem 16px;
}

.about_myself h2 {
  color: var(--dark);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 4rem;
}

article.work h2 {
  color: var(--dark);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}

div.canopy h5 {
  display: inline;
  color: var(--newtrals2);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  align-items: center;
}

.canopy_languages {
  display: flex;
}

ul.languages li {
  float: left;
  background-color: var(--primaryb50);
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  border-radius: 8px;
  color: var(--primaryb400) !important;
}

ul.technologies_container-languages > li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  text-align: left;
  align-items: center;
  background-color: #f7f7f9;
  gap: 1.4rem;
  border-radius: 8px;
  margin-bottom: 10px;
}

section.work_section ul li {
  color: var(--newtrals100);
  margin-right: 12px;
}

section.work_section ul li > span {
  font-size: 1.3rem;
  font-weight: 600;
}

div.canopy {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

article.contact_me img {
  width: 100%;
  float: right;
}

section.work_section ul li > img {
  width: 10px;
}

.about_myself p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--newtrals2);
}

article.work p {
  color: var(--newtrals2);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

section.work_section > ul.languages {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

article.work button {
  color: var(--primaryb500);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px solid var(--primaryb400);
  top: 12px;
  padding: 12px;
  border-radius: 8px;
  width: 127px;
  background-color: transparent;
}

article.work button:hover {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--white);
  cursor: pointer;
}

/* about me */
section.about_me {
  display: grid;
  grid-template-columns: auto;
  gap: 24px;
  background-color: var(--white);
  border-top-right-radius: var(--radiusL);
  text-align: left;
}

.about_myself {
  padding: 20px;
}

.lets_connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary2);
}

button.my_resume {
  background-color: transparent;
  border-radius: 8px;
  padding: 12px;
  color: var(--primaryb500);
  border: 1px solid var(--primaryb400);
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

/** technilogies */
.technologies {
  margin-top: 1.6rem;
}

.technologies_container {
  display: grid;
  grid-template-columns: auto;
}

.technologies_container h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.tech_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}

article.contact_me p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--primaryb50);
  margin: auto;
  padding: 12px 12px 1.2rem 12px;
}

ul.technologies_container-languages > li > p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  background: var(--newtralN700);
}

.border_bottom {
  border-bottom: 2px solid #dfe1e6;
}

/* contact form */
article.contact_me {
  background-image: url(images/contact_form_shapes-mobile@2x.png);
  background-size: 60% 98%;
  background-position-x: 90%;
  background-position-y: -150%;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  border-top-left-radius: var(--radiusL);
  background-color: var(--primaryb400);
  padding: 5rem 20px 20px 20px;
}

article.contact_me h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: var(--white);
}

.form {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  border: none;
  width: 100%;
  align-items: center;
  margin: auto;
}

input[type=text],
input[type=email],
input[type=submit],
input[type=textarea] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  display: inline-block;
}

.emailErr {
  color: rgb(197, 29, 29);
  font-size: 1.2rem !important;
  margin-top: -20px;
}

textarea {
  padding: 20px;
  background-color: var(--white);
  outline: none;
  border: none;
  resize: none;
  border-radius: 8px;
  text-align: left;
  margin: auto;
  width: 100%;
}

.form_btn {
  max-width: 120px;
  padding: 3px 14px;
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primaryb400);
  text-decoration: none;
  background-color: #fff;
}

.form_btn:hover {
  background-color: var(--primary2);
  color: #fff;
}

.form_btn:active {
  background-color: var(--primaryb500);
}

.divider {
  height: 2px;
  width: 134px;
  background-color: #0d151e;
  margin: auto;
  border: none;
}

.my_resume:hover {
  background-color: var(--primaryb500) !important;
  color: var(--white);
}

.technologies_container-languages li:hover {
  transform: scale(1.1);
  background-color: aqua;
  font-size: 2rem;
}

/* media queries */
@media screen and (min-width: 377px) {
  .header_container {
    width: 90%;
    margin: auto;
  }

  .header {
    background-image: url(images/Header\ bg@2x.png);
    background-size: contain;
    height: 100vh;
  }

  .header h1 {
    font-size: 4.8rem;
    margin-top: 4rem;
  }

  article.work p {
    max-width: 500px;
  }

  article.work {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse !important;
  }

  article.contact_me {
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: cover;
  }

  .about_myself {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr 1.5fr;
    gap: 3rem;
  }

  .technologies_container-languages {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    width: auto;
    max-width: 400px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline-block;
  }

  ul.technologies_container-languages > li {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    padding: 4px;
  }

  .form {
    width: 80%;
  }
}

/**  media queries */
@media screen and (min-width: 768px) {
  .mobile,
  .mobile_menu {
    display: none;
  }

  .mobile_m {
    display: none;
  }

  .header h1 {
    font-size: 4.8rem;
    margin-top: 14rem;
  }

  .bars {
    display: none;
  }

  div.logo-container {
    width: 90%;
    margin: auto;
  }

  .desktop_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .desktop_menu li a {
    color: var(--newtrals2);
    font-size: 1.5rem;
  }

  .desktop_menu li a:hover {
    text-decoration: underline !important;
  }

  .desktop_menu li a:active {
    color: var(--primaryb500);
  }

  .header_container {
    padding-top: 5rem;
    width: 70%;
    margin: auto;
  }

  .div.logo-container {
    width: 60%;
    margin: auto;
    background-color: #000;
  }

  .header {
    background-image: url(images/Header\ bg@2x.png);
    background-size: cover;
  }

  article.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 3rem;
    padding: 2rem;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse !important;
  }

  .about_myself {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
  }

  .technologies_container-languages {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    width: auto;
    max-width: 400px;
  }

  ul.technologies_container-languages img {
    width: 70px;
  }

  ul.technologies_container-languages > li {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    padding: 4px;
  }

  article.contact_me {
    background-image: url(images/contact\ form\ background\ shapes@2x.png);
    background-size: contain;
  }

  .form {
    width: 40%;
    max-width: 500px;
  }

  .contact_me p {
    width: 60%;
  }

  .form_btn {
    margin-left: auto;
    margin-right: auto;
  }

  .divider {
    display: none;
  }

  .desktop {
    display: inline-block;
  }
}
